<section class="footer"> 
    <!-- <div class="footer-widgets p-5">
        <div class="container">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </div>
        </div>
    </div> -->
    <div class="footer-bottom p-3">
        <p class="text-center">Copyright 2025 Knowledge Vision. All Rights Reserved.</p>
    </div>
</section>