<section class="hero-section">
    <div class="p-0 m-0 vh-100 d-flex align-items-center w-100 bg-body-tertiary">
        <div id="carouselExampleSlidesOnly" class="carousel slide w-100" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-sm-12">
                                <img class="w-100" src="assets/images/hs6.png" alt="">
                            </div>
                            <!--  -->
                            <div class="col-lg-7 col-sm-12 d-flex justify-content-center align-items-lg-end align-items-center flex-column text-lg-end text-sm-center">
                                
                                <h6 class="text-uppercase bg-white py-2 px-4 rounded-3 fw-medium h6 lead text-center">
                                    الدليل المرجعي للمصادر المرئية</h6>

                                <p class="display-5 fw-bold lead"><span class="mainTextColor">الكتاب</span> صديق لا
                                    يخون</p>
                                <p class="text-dark lead">الكتبُ عوالمٌ لا تنتهي، نقرأها فنعيش ألف حياة</p>
                                <button class="btn mainBgColor text-white px-5 py-2 fs-4 ">اقرأ الان</button>
                            </div>
                        </div>
                        
                    </div>
                </div>  
                <!--  -->
                <div class="carousel-item ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-sm-12">
                                <img class="w-100" src="assets/images/hs6.png" alt="">
                            </div>
                            <!--  -->
                            <div class="col-lg-7 col-sm-12 d-flex justify-content-center align-items-lg-end align-items-center flex-column text-lg-end text-sm-center">
                                
                                <h6 class="text-uppercase bg-white py-2 px-4 rounded-3 fw-medium h6 lead text-center">
                                    Knowledge Vision</h6>

                                <p class="display-5 fw-bold lead"><span class="mainTextColor">الكتبُ</span> نوافذُ على العوالم</p>
                                <p class="text-dark lead">بين دفّتي كل كتاب، روح كاتب لا تموت</p>
                                <button class="btn mainBgColor text-white px-5 py-2 fs-4 ">اقرأ الان</button>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <!--  -->
                <div class="carousel-item ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-sm-12">
                                <img class="w-100" src="assets/images/hs1.png" alt="">
                            </div>
                            <!--  -->
                            <div class="col-lg-7 col-sm-12 d-flex justify-content-center align-items-lg-end align-items-center flex-column text-lg-end text-sm-center">
                                
                                <h6 class="text-uppercase bg-white py-2 px-4 rounded-3 fw-medium h6 lead text-center">
                                    Knowledge Vision</h6>

                                <p class="display-5 fw-bold lead"><span class="mainTextColor">المعرفةُ</span> تصنعُ الإنسانَ الحر</p>
                                <p class="text-dark lead">في عالم يمضي بسرعة، نمنحك لحظة مع الحرف الهادئ</p>
                                <button class="btn mainBgColor text-white px-5 py-2 fs-4 ">اقرأ الان</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="p-0 m-0 vh-100 d-flex align-items-center w-100 bg-body-tertiary">
      <div id="carouselExampleSlidesOnly" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            *ngFor="let slide of slides; let i = index"
            class="carousel-item"
            [class.active]="i === 0"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-sm-12">
                  <img class="w-100" [src]="slide.imgs" alt="">
                </div>
                <div class="col-lg-7 col-sm-12 d-flex justify-content-center align-items-lg-end align-items-center flex-column text-lg-end text-sm-center">
                  <h6 class="text-uppercase bg-white py-2 px-4 rounded-3 fw-medium h6 lead text-center">
                    {{ slide.title }}
                  </h6>
                  <p class="display-5 fw-bold lead">
                    <span class="mainTextColor">{{ slide.subtitle }}</span>
                  </p>
                  <p class="text-dark lead">{{ slide.text }}</p>
                  <button class="btn mainBgColor text-white px-5 py-2 fs-4">اقرأ الان</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  