<section class="py-5 mt-5 vstack gap-5">
    <div class="mainBgColor text-white py-4">
        <h1 class="text-center display-4 lead"><span class="">الكتب السنوية</span></h1>
    </div>
    <div class="container">
        <div *ngIf="isLoading" class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      
        <div *ngIf="!isLoading" class="row flex-row-reverse row-cols-lg-4 row-cols-md-2 row-cols-sm-1 g-4">
          <!-- Book Loop -->
          <div *ngFor="let book of atlasBooks" class="col item text-end">
            <a [href]="book.URL">
                <img [src]="book.Image || 'assets/images/default-book.jpg'" 
                 [alt]="book.BookName" 
                 class="rounded-start-4 shadow bg-body-tertiary" 
                 width="250" 
                 height="350" />
            </a>
            <p class="text-muted small mt-2 mb-1">{{book.Category}}</p>
            <a [href]="book.URL" class="text-decoration-none text-dark">
                <h5 class="">{{ book.BookName }}</h5>

            </a>
            <p class="text-muted">{{ book.AuthorName || 'مؤلف غير معروف' }}</p>
            <a [href]="book.YoutubeLink" 
               *ngIf="book.YoutubeLink" 
               target="_blank"
               class="text-danger fw-bold text-decoration-none">
               Visual Form
            </a>
          </div>
        </div>
      </div>
</section>