<section class="my-5 py-5 bg-body-tertiary shadow-lg">
    <div class="container py-5 ">
        <div class="row row-cols-1 row-cols-md-3">
            <div>
                <div>
                    <h2 class="lead mainTextColor fw-bolder text-end">اهدافنا</h2>
                    <ul class="list-unstyled lead text-end">
                        <li>
                             توفير دليل مرجعي شامل وموثوق للمصادر المرجعية -
                        </li>
                        <li>
                            تسهيل الوصول الي المعلومات الموثوقة والشاملة -
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="lead mainTextColor fw-bolder text-end">اتصل بنا</h2>
                    <p class="lead text-end">
                        يمكنك التواصل معنا من خلال البريد الإلكتروني أو نموذج الاتصال على موقعنا الإلكتروني. نحن دائمًا هنا لمساعدتك في العثور على المصادر المرجعية التي تحتاجه                    </p>
                </div>
            </div>
            <!--  -->
            <div>
                <div class="d-flex justify-content-center align-items-center h-100 w-100">
                    <img [src]="img" class="w-75 text-center" alt="">
                </div>
            </div>
            <!--  -->
            <div>
                <div>
                    <h2 class="lead mainTextColor fw-bolder text-end">من نحن</h2>
                    <p class="lead text-end">
                        نحن فريق في مجال المعلومات والمكتبات، وهدفنا هو توفير دليل مرجعي شامل وموثوق للمصادر المرجعية في مختلف المجالات
                    </p>
                </div>
                <div>
                    <h2 class="lead mainTextColor fw-bolder text-end">رسالتنا</h2>
                    <p class="lead text-end">
                        رسالتنا هي تسهيل الوصول إلى المعلومات الموثوقة والشاملة، وتوفير المصادر المرجعية التي المستخدمون  في مختلف المجالات                    </p>
                </div>
            </div>
        </div>
    </div>
</section>